
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 text-center">
          <p>&#169; 2017 | Powered by node</p>
      </div>
    </div>
  </div>
</footer>


<script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>

<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/scripts.js"></script>

</body>
</html>
