
<footer class="navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-11 col-sm-offset-1 text-center">
          <p>&#169; 2017 | Powered by Node <i class="icon ion-social-nodejs"></i></p>
      </div>
    </div>
  </div>
</footer>

<!-- jquery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
$( "li#menu" ).click(function() {
  console.log('clicked')
  $( ".sidebar-nav-1" ).toggle(".sidebar-nav-2");
});
</script>

</body>
</html>
