<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title></title>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <!-- custom CSS -->
    <link rel='stylesheet' href='./stylesheets/style.css' />

    <!-- Ion Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css">
    <!-- google font  -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>


    <script type="text/javascript">

window.onload = function () {
  var chart = new CanvasJS.Chart("chartContainer", {
    title:{
      color:  "#66cb8c",
      backgroundColor: "#353839",
      text: "My Skils"              
    },
    data: [              
    {
      // Change type to "doughnut", "line", "splineArea", etc.
      type: "line",
      dataPoints: [
        { label: "Google Analytics",  y: 10  },
        { label: "Google Adwords", y: 15  },
        { label: "Adobe Suite", y: 25  },
        { label: "Email Marketing",  y: 30  },
        { label: "Mac OS",  y: 30  },
        { label: "SE0",  y: 30  },
        { label: "windows",  y: 28  }
      ]
    }
    ]
  });
  chart.render();
}
</script>
</head>

<body>
 <nav id="menu" class="menu">
      <section class="menu-section">
        <h3 class="menu-section-title">Menu</h3>
        <ul class="menu-section-list">
          <li><a href="/">Home</a></li>
          <li><a href="about">About Me</a></li>
          <li><a href="projects">Projects</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </section>

      <section class="menu-section">
        <h3 class="menu-section-title">Docs</h3>
        <ul class="menu-section-list">
          <li><a href="https://github.com/mango/slideout" target="_blank">Cover Letter</a></li>
          <li><a href="https://github.com/mango/slideout/issues/new" target="_blank">Resume</a></li>
          <li><a href="https://github.com/mango/slideout/releases/" target="_blank">Google Analytics Certification</a></li>
          <li><a href="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js" target="_blank">Google Adwords Certification</a></li>
        </ul>
      </section>
    </nav>
 


