<% include ./partials/header.ejs %>

    <!-- Page Content -->
    <section id="about">
        <div id="page-content-wrapper">
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-11 col-sm-offset-1">
                    <div class="introText">
                        <h1><%= title %></h1>
                        <p>Welcome to
                            <%= title %>
                        </p>
                    </div>
                    <div class="col-lg-11 col-lg-offset-1">
                        <img src="images/user.png" alt="">
                        <h2>Hi, I am Chad!</h2>
                        <!-- <hr> -->
                        <p>Hey Im Chad, I’m a web developer. I spend my days, practically every day, experimenting with HTML, CSS, PHP and JavaScript; dabbling with Nodejs and angular; and inhaling a wide variety of potentially useless information through my news feed. I build websites that delight and inform. I do it well.</p>
                        <p>At the moment, I’m a developer for Napoleon in Barrie, Ontario working in marketing. My duties include maintaining, building and designing websites. I take pride in crafting fun landing pages that drive traffic for all sorts of contests and promotions.</p>
<p>I’ve focused my energies on the web and working out, which happily has proven itself to be a wonderful decision.</p>
                    </div>

                </div>
            </div>
        </div>
        <!-- ./ row -->
        </div>
        </div>
    </section>


    <% include ./partials/footer.ejs %>
