<% include ./partials/header.ejs %>

<!-- Page Content -->
<section id="about">
  <div id="page-content-wrapper">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-11 col-sm-offset-1">
                 <div class="introText">
                   <h1><%= title %></h1>
                   <p>Welcome to <%= title %></p>
                 </div>
                 <row>
                   <div class="col-lg-8 col-lg-offset-2 text-center">
                     <img src="images/user.png" alt="">
                     <h2>Hi, I am Chad!</h2>
                     <hr>
                     <p>Hello everybody. I’m Stanley, a free handsome bootstrap theme coded by BlackTie.co. A really simple theme for those wanting to showcase their work with a cute & clean style.</p>
                   </div>
                 </row>

              </div>
          </div>
      </div>
  </div>
</section>


<% include ./partials/footer.ejs %>
