<% include ./partials/header.ejs %>

<!-- Page Content -->
<section id="about">
  <div id="page-content-wrapper">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-11 col-sm-offset-1">
                 <div class="introText">
                   <h1><%= title %></h1>
                   <p>Welcome to <%= title %></p>
                 </div>
                 <row>
                   <div class="col-lg-8 col-lg-offset-2 text-center">
                     <img src="images/user.png" alt="">
                     <h2>Hi, I am Chad!</h2>
                     <hr>
                     <p>Hello everybody. I’m Chad Praesent scelerisque urna non massa fringilla dapibus. Phasellus sem ante, pretium eget lacus nec, rhoncus lobortis elit. Quisque interdum nec elit et interdum. Donec vulputate velit est, id pulvinar eros gravida vel.</p>
                   </div>
                 </row>

              </div>
          </div>
      </div>
  </div>
</section>


<% include ./partials/footer.ejs %>
