<% include ./partials/header.ejs %>

    <!-- Page Content -->
     <main id="panel" class="slideout-panel contain">
        <div class="row">
            <header>
                 <button class="toggle-button"><% include ./partials/menu.ejs %></button>
            </header>
                <div class="introText">
                    <h1 class="text-center"><%= title %></h1>
                    <p>Feel Free to use the form below to drop me an e-mail. Old-fashioned phone calls or text work too  <br>705.795.0645</p>
                </div>
        <form id="contactForm">
            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Name</label>
            </div>

            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Email</label>
            </div>

            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Mobile No</label>
            </div>

            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Message</label>
            </div>
            <div class="group">
                <center> <button type="submit" class="btn btn-warning">Send <span class="glyphicon glyphicon-send"></span></button></center>
            </div>
        </form>
    </section>


    <% include ./partials/footer.ejs %>
