<% include ./partials/header.ejs %>

    <main id="panel" class="slideout-panel">
    <div class="row">
     <div class="col-md-1 hidden-sm hidden-xs">
      <ul class="sidebar-nav-1">
                <li id="menu">
                   <a href="javascript:var KICKASSVERSION='2.0';var s = document.createElement('script');s.type='text/javascript';document.body.appendChild(s);s.src='//hi.kickassapp.com/kickass.js';void(0);"><i class="fi-power"></i></a> 
                </li>
                <li>
                    <a target = _blank href="https://twitter.com/"><i class="fi-social-twitter"></i></a>
                </li>
                <li>
                    <a target = _blank href="https://www.linkedin.com/in/chad-clarke-478327115?trk=hp-identity-name"><i class="fi-social-linkedin"></i></a>
                </li>
                <li>
                    <a target = _blank href="https://www.instagram.com"><i class="fi-social-instagram"></i></a>
                </li>
                <li>
                    <a target = _blank href="https://github.com/"><i class="fi-social-github"></i></a>
                </li>
                <li>
                    <a target = _blank href="https://www.snapchat.com/"><i class="fi-social-snapchat"></i></a>
                </li>
              </ul><!-- nav2 -->
     </div>
      <div class="col-sm-5">
        <div class="homeContent">
          
              <h1><%= title %></h1>
              <hr>
              <p id="shortBio">I'm Chad and this is my portfolio. I'am a tech-savvy digital marketer with proven accomplishments in executing web, SEO and promotional campaigns. I love to dive into analytics, always tweeking and learning new techniques. I also focus on all things Wordpress and my newfound love for Node & Angular, I have an eye for details and a passion for perfection. </p>
              <br>
              <div class="homeDetails">
                <ul>
                  <li><i class="fi-marker"></i> <%= location %></li>
                  <li><i class="fi-mail"></i> <%= email %></li>
                  <li><i class="fi-telephone"></i> <%= phone %></li>
                </ul>  
                <a type="button" name="button" href="/about">About Me</a>    
                <a type="button" name="button" href="/"><i class="fi-download"></i> Resume</a>          
                <!-- <a href="" type="button" name="button" data-toggle="modal" data-target="#myModal">Resume</a>  -->
             </div>
          </div>
      </div><!--./col-sm-6 --> 
      <div class="col-sm-6" id="phone">
        <button class="toggle-button"><% include ./partials/menu.ejs %></button>
     <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 132 276" style="enable-background:new 0 0 132 276;" xml:space="preserve">
                       <style type="text/css">
                        .st0{fill:#FDFDFD;stroke:#7E89A3;stroke-width:2;}
                        .st1{fill:#FFFFFF;stroke:#7E89A3;}
                        .st2{fill:none;stroke:#7E89A3;}
                        .st3{fill:#D3D3D3;stroke:#D3D3D3;stroke-width:0.9952;stroke-miterlimit:10;}
                        .st4{fill:#BDBDBD;}
                        .st5{fill:#BDBDBD;stroke:#BDBDBD;stroke-width:2.3055;stroke-miterlimit:10;}
                        .st6{fill:none;stroke:#D3D3D3;stroke-miterlimit:10;}
                        .st7{fill:none;stroke:#939393;stroke-width:1.9513;}
                        .st8{fill:none;stroke:#939393;stroke-width:1.2015;}
                        .st9{fill:none;stroke:#939393;stroke-width:1.8948;}
                        .st10{fill:none;stroke:#939393;stroke-width:0.688;}
                        .st11{display:none;}
                        .st12{display:inline;fill:#EEEEEE;stroke:#304B82;stroke-width:1.0091;stroke-miterlimit:10;}
                        .st13{fill:none;}
                        .st14{fill:#A8A8A8;}
                        .st15{fill:#D3D3D3;}
                       </style>
                       <g id="Layer_1">
                        <title>Screen Shot 2017-02-24 at 9.10.36 PM</title>

                        <g id="Page-1">
                          <g id="iphone">
                            <path id="bezel" class="st0" d="M131,259c0,8.8-7.2,16-16,16H17c-8.8,0-16-7.2-16-16V17C1,8.2,8.2,1,17,1h98c8.8,0,16,7.2,16,16
                              V259L131,259z"/>
                            <rect id="screen" x="10" y="37" class="st1" width="112" height="199.1"/>
                            <path id="speaker" class="st2" d="M78,27H56v-3h22V27L78,27z"/>
                            <circle id="camera" class="st2" cx="67" cy="13" r="3"/>
                            <ellipse id="lock" class="st2" cx="66" cy="255" rx="10" ry="10"/>
                          </g>
                        </g>
                       </g>
                       <g id="navigation">
                        <rect x="11" y="38.1" class="st3" width="109.9" height="8.9"/>
                        <polygon class="st4" points="16.1,46 14.2,42.7 16.1,39.3 20,39.3 22,42.7 20,46  "/>
                       </g>
                       <g id="slider">
                        <rect x="11.7" y="48.7" class="st5" width="108.6" height="48.4"/>
                        <path class="st6" d="M133.7,72"/>
                        <path class="st6" d="M132,69.9"/>
                        <path id="speaker_1_" class="st7" d="M82.6,67.3H51.5"/>
                        <path id="speaker_2_" class="st8" d="M73,71.7H61.2"/>
                        <path id="speaker_3_" class="st8" d="M59.6,71.7H47.8"/>
                        <path id="speaker_4_" class="st8" d="M86.5,71.7H74.8"/>
                       </g>
                       <g id="calltoaction">
                        <rect x="11" y="102.2" class="st3" width="109.9" height="8.9"/>
                        <path id="speaker_5_" class="st9" d="M74.4,104.7H18.5"/>
                        <path id="speaker_6_" class="st7" d="M49.6,108.3H18.5"/>
                        <rect x="91.8" y="104.5" class="st10" width="12.7" height="4.1"/>
                       </g>
                       <g id="Layer_6" class="st11">
                        <rect x="18.1" y="119.9" class="st12" width="95.2" height="68.8"/>
                       </g>
                       <g id="topLeftBox">
                        <rect class="st13" width="0" height="0.5"/>
                        <rect x="-18.9" y="150.4" class="st13" width="0" height="2.1"/>
                        <rect x="18.8" y="120.4" class="st14" width="60" height="33.3"/>
                       </g>
                       <g id="BottomLeftBox">
                        <rect x="49.4" y="154.7" class="st4" width="29.4" height="33.4"/>
                        <rect x="18.7" y="154.8" class="st4" width="29.4" height="33.4"/>
                       </g>
                       <g id="BottomRightBox">
                        <rect x="79.9" y="154.9" class="st4" width="32.9" height="33.3"/>
                       </g>
                       <g id="topRightBox">
                        <rect x="79.9" y="120.5" class="st4" width="32.9" height="33.3"/>
                       </g>
                       <g id="Layer_9">
                        <rect x="31.5" y="192.4" class="st4" width="70.3" height="4.2"/>
                       </g>
                       <g id="elipse">
                        <ellipse class="st4" cx="38.5" cy="210.8" rx="6.8" ry="7"/>
                       </g>
                       <g id="contentBox">
                        <rect x="53.8" y="202.7" class="st4" width="42.4" height="1.6"/>
                        <rect x="53.8" y="205.6" class="st4" width="47.5" height="1.6"/>
                        <rect x="53.8" y="207.9" class="st4" width="38.4" height="1.6"/>
                        <rect x="53.8" y="210.7" class="st4" width="42.4" height="1.6"/>
                        <rect x="53.8" y="213.4" class="st4" width="47.5" height="1.6"/>
                        <rect x="53.8" y="216" class="st4" width="18.6" height="1.6"/>
                       </g>
                       <g id="Layer_16">
                       </g>
                       <g id="footer">
                        <rect x="10.5" y="231.4" class="st15" width="111" height="4.2"/>
                        <rect x="107.2" y="233" class="st4" width="13.3" height="1.6"/>
                       </g>
                       </svg>
      </div>
    </div><!--row--> 

    <section id="whatido">
    <div class="contain">
      
        <h1>What i do</h1>
        <div class="introText">
                      <p>
            
            </p>
            </div>
        <div class="row">
            <div class="col-sm-6 col-offset-3">
            </div>
        </div>
        <div class="row">
           <div class="col-sm-3">
             <div class="box">
                    <i class="fi-social-github"></i>
                    <h3 class="iconbox-title">Web Design</h3>
                    <p>
                I create websites that engage users, by programming logical site navigation, social media links/widgets, and organizing site content into a logical catalog.
              </p>
             </div>
           </div>
            <div class="col-sm-3">
              <div class="box">
                     <i class="fi-social-github"></i>
                     <h3 class="iconbox-title">Seo</h3>
                     <p>
                Develop link building strategies to improve SEO positions for targeted keywords; analyze and recommend website architecture changes.
              </p>
              </div>
            </div>
             <div class="col-sm-3">
               <div class="box">
                      <i class="fi-social-github"></i>
                      <h3 class="iconbox-title">Email Marketing</h3>
                <p>Finding ways to utilize email marketing within internet marketing campaigns and day to day announcements. </p>
              </p>
               </div>
             </div>
              <div class="col-sm-3">
                <div class="box">
                       <i class="fi-social-github"></i>
                       <h3 class="iconbox-title">Adwords</h3>
                       <p>
                Good things come to those who wait, but only the things left by those who hustle
              </p>
                </div>
              </div>
        </div>
            </div><!-- contain --> 
    </section>


<section id="projects">
  <div class="contain">
    
        <h1>My Work</h1>
        <div class="introText">
              <p>
              Here are a some examples of work I've produced. Every single project is custom created, working with the brand to target and convey the culture, message and service. 
            </p>
            </div>
        <div class="row">
            <div class="col-sm-6 col-offset-3">

            </div>
        </div>
        <div class="row project-row">
           <div class="col-sm-4 text-center">
             <img src="/images/projects/cannabisConsulting.jpg">
           </div>
            <div class="col-sm-4 text-center">
              <img src="/images/projects/cannabisContractor.jpg">
            </div>
              <div class="col-sm-4 text-center">
               <img src="/images/projects/cyberspace.jpg">
              </div>
        </div>
          <div class="row project-row">
           <div class="col-sm-4 text-center">
             <img src="/images/projects/inboundMarketing.jpg">
           </div>
            <div class="col-sm-4 text-center">
              <img src="/images/projects/muskokaSteamShip.jpg">
            </div>
              <div class="col-sm-4 text-center">
               <img src="/images/projects/powassanMiniStorage.jpg">
              </div>
        </div>
      <center>
           <a type="button" name="button" href="projects">View More</a>  
       </center>
        
            </div><!-- contain --> 
    </section>

    <section id="whatido">
        <form id="contactForm">
            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Name</label>
            </div>

            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Email</label>
            </div>

            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Mobile No</label>
            </div>

            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Message</label>
            </div>
            <div class="group">
                <center> <button type="submit" name="button" class="btn btn-info">Send <span class="glyphicon glyphicon-send"></span></button></center>
            </div>
        </form>
    </section>

    <section class="calltoaction">
    <div class="row">
        <div class="col-sm-12 text-center">
       <h1>Are you ready to start?</h1>
       
          <p>
            I'am Availible For Freelance Projects
          </p>   
      </div>
    </div>
    
    </section>
        
    </main><!-- main wrapper --> 


<% include ./partials/footer.ejs %>