<% include ./partials/header.ejs %>

<!-- Page Content -->
<section id="projects">
      <div id="page-content-wrapper">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-sm-11 col-sm-offset-1">
                    <div class="introText">
                      <h1><%= title %></h1>
                      <p>Welcome to my gallery, these are some of the <%= title %> i have built. </p>
                   </div>
                   <!-- gallery row one -->
                   <div class="row row-one">
                     <div class="col-sm-4">
                       <a href="#"><img src="http://placehold.it/350x150"></a>
                     </div>
                     <div class="col-sm-4">
                         <a href="#"><img src="http://placehold.it/350x150"></a>
                     </div>
                     <div class="col-sm-4">
                          <a href="#"><img src="http://placehold.it/350x150"></a>
                     </div>
                   </div>
                   <!-- gallery row one -->
                   <div class="row row-two">
                     <div class="col-sm-4">
                          <a href="#"><img src="http://placehold.it/350x150"></a>
                     </div>
                     <div class="col-sm-4">
                          <a href="#"><img src="http://placehold.it/350x150"></a>
                     </div>
                     <div class="col-sm-4">
                          <a href="#"><img src="http://placehold.it/350x150"></a>
                     </div>
                   </div>
                  </div>
              </div>

          </div>
      </div>
</section>





<% include ./partials/footer.ejs %>
