<% include ./partials/header.ejs %>

    <!-- Page Content -->
    <section id="services">
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-11 col-sm-offset-1">
                        <div class="introText">
                            <h1><%= title %></h1>
                            <p>Welcome to
                                <%= title %>
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="text-center">
                                    <i class="icon ion-android-laptop"></i>
                                </div>
                                <h3 class="text-center">Web Design</h3>
                                <hr>
                                <p class="text-center">lipgy g yu b jbhbhb bh bb bhb hbh kokkoo jij hurtre hugtftru hg g lipgy g yu b jbhbhb bh bb bhb hbh kokkoo jij hurtre hugtftru hg g</p>
                            </div>
                            <div class="col-sm-4">
                                <div class="text-center">
                                    <i class="icon ion-android-lock"></i>
                                </div>
                                <h3 class="text-center">Wordpress Security</h3>
                                <hr>
                                <p class="text-center">lipgy g yu b jbhbhb bh bb bhb hbh kokkoo jij hurtre hugtftru hg g lipgy g yu b jbhbhb bh bb bhb hbh kokkoo jij hurtre hugtftru hg g</p>
                            </div>
                            <div class="col-sm-4">
                                <div class="text-center">
                                    <i class="icon ion-search"></i>
                                </div>
                                <h3 class="text-center">SEO</h3>
                                <hr>
                                <p class="text-center">lipgy g yu b jbhbhb bh bb bhb hbh kokkoo jij hurtre hugtftru hg g lipgy g yu b jbhbhb bh bb bhb hbh kokkoo jij hurtre hugtftru hg g</p>
                            </div>
                        </div>
                        <div class="col-sm-10">
                          <blockquote cite="http://">
                              Thank you so much for all your hard work to get Churchill’s website up and running in such a short amount of time & for doing such a fantastic job.
                          </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <% include ./partials/footer.ejs %>
