<% include ./partials/header.ejs %>

    <!-- Page Content -->
    <section id="services">
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-11 col-sm-offset-1">
                        <div class="introText">
                            <h1><%= title %></h1>
                          
                        </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="text-center">
                          <img src="/images/prev-enter.png">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="banner">
                          <h3 class="text-center">- INTRODUCTION -</h3>
                          <p>Hello everybody. I’m Chad Praesent scelerisque urna non massa fringilla dapibus. Phasellus sem ante, pretium eget lacus nec, rhoncus lobortis elit. Quisque interdum nec elit et interdum. Donec vulputate velit est, id pulvinar eros gravida vel.</p>
                        </div>
                      </div>
                    </div><!-- ./row -->
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="text-center">
                          <img src="/images/responsive-laptop.png">
                        </div>
                      </div>
                    </div><!-- ./row -->

                    <div class="row branding">
                      <h3 class="text-center">-TYPOGRAPHY & COLOUR-</h3>
                      <div class="col-sm-8">
                        <h3>Oswald Regular</h3>
                        <div class="text-block">
                          <p>
                            ABCDEFGHIJKLM</br>
                            NOPQRSTUVWXYZ</br>
                            0123456789
                          </p>
                        </div>
                        <h3>Merriweather</h3>
                        <div class="text-block">
                          <p>
                            ABCDEFGHIJKLM</br>
                            NOPQRSTUVWXYZ</br>
                            0123456789
                          </p>
                        </div>
                      </div>
                      <div class="col-sm-4">

                      </div>
                    </div><!-- ./row -->

                    <div class="row">
                      <div class="col-sm-12">
                        <div class="next-prod">
                          <h3 class="text-center">See Next Project</h3>
                          <p class="text-center"><span></span></p>
                        </div>
                      </div>
                    </div><!-- ./row -->
                </div>
            </div>
        </div>
    </section>

    <% include ./partials/footer.ejs %>
