
/* globalStyles */
html{

}
section{
  margin-left: 50px;
}
body{
    background-image: url('/images/new-zealand-dark.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

 }
 h1 {
  /*   font-family: 'Raleway', sans-serif!important;
     font-weight: 300!important;
     font-size: 70px!important;
     color: white!important;*/
     color: #ffffff; 
      font-family: 'Raleway',sans-serif; 
      font-size: 62px; 
      font-weight: 800;
       line-height: 72px; 
       margin: 0 0 24px; 
       text-align: center; 
       text-transform: uppercase; 
     }
 }
 h2{
   color: #7f7f7f!important
    font-family: 'Raleway', sans-serif!important;
 }

 h3.subHeading{
    color: #fff!important;
    font-family: 'Raleway', sans-serif!important;
 }
 p{
   font-size: 20px;
   color: #7f7f7f;
 }
 li{
   font-size: 20px;
   color: #7f7f7f;
   margin-left: 5px;
 }
 li i{
   margin-right: 5px;
 }
 ul{
    padding: 0;
 }
 hr{
    border-top: 1px solid #52bf90!important;
    max-width: 50px;
    margin: 10px auto;
}
hr.blue {
   border-top: 1px solid #07a2e2!important;
   max-width: 50px;
   margin: 10px auto;
}
 span#logo {
  font: 400 30px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}
.introText {
    margin-top: 3%;
    margin-bottom: 5%;
}

/*Tag Cloud*/
.tagcloud01 ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tagcloud01 ul li {
  display: inline-block;
  margin: 0 .3em .3em 0;
  padding: 0;
}
.tagcloud01 ul li a {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  padding: 0 1em;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  font-size: 13px;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}
.tagcloud01 ul li a:hover {
  background-color: #3498db;
  border: 1px solid #3498db;
  color: #fff;
}

/*sidebar 1*/
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 100px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #272727y;
    padding: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
/*menu nav */
.sidebar-nav-1 {
    position: absolute;
    top: 0;
    width: 100px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color:	#272727;
    height:100%;
}
.sidebar-nav-1 li {
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav-1 li:nth-of-type(1) {
    background: #52bf90;
}
.sidebar-nav-1 li i{
  width: 100px;
  height: 100px;
  font-size: 40px;
  line-height: 100px;
  color: #48494B;
}
.sidebar-nav-1 li i:hover{
  color: #52bf90;
}
.sidebar-nav-1 li:nth-of-type(1) i{
color: white;
}

/*social icons*/
.sidebar-nav-2 {
    top: 0;
    width: 100px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #272727;
    height:100%;
}
.sidebar-nav-2 li {
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav-2 li:nth-of-type(1) {
    background: #07a2e2;
}
.sidebar-nav-2 li i{
  width: 100px;
  height: 100px;
  font-size: 40px;
  line-height: 100px;
    color: #48494B;
}
.sidebar-nav-2 li i:hover{
  color: #07a2e2;
}
.sidebar-nav-2 li:nth-of-type(1) i{
color: white;
}
/*portfolio*/
.hover img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover:hover img {
	opacity: .5;
}
/*index*/
.homeDetails {
    margin-top: 25%;
}
.homeDetails ul {
    padding: 0;
    margin-bottom: 25px;
}
.homeDetails li{
  font-size: 20px;
  list-style-type: none;
  color: white;
}
.homeDetails button {
    border: 2px solid #52bf90;
    background: transparent;
    color: white;
}
.homeDetails button.blue{
border: 2px solid #07a2e2
}
button{
  border: 2px solid #52bf90;
  background: transparent;
  color: white;
}
a[type="button"]{
  border: 2px solid #52bf90;
  background: transparent;
  color: white;
  padding:7px;
  min-width: 100px;
}

.homeContent {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    height: 100vh;
    background: #000;
    background: rgba(0,0,0,0.3);
    padding: 20px 50px 20px 100px;
    color: #fff;
    overflow: auto;
    max-width: 600px;
}
button#aboutMe {
    position: absolute;
    top: 0px;
    right: 0px;
    border: 2px solid #52bf90;
    background: transparent;
    color: white;
    margin: 25px 25px 0 0;
}
button#aboutMe.blue {
    border: 2px solid 07a2e2;
}

#favoriteThings {
    background: rgba(0,0,0,0.3);
}
#shortBio{
  margin-top: 15%;
}
/*single project template*/
.banner {
    padding: 20px;
    background-color: #242424;
}
.row.branding {
    background: #242424;
    margin-top: -6%;
}
/*footer*/
footer{
    background-color: #000000;
    z-index: -100!important;
    color: #48494B;
    padding-top: 10px;
    bottom: 0;
    width: 100%;
    position: absolute;
}
footer .navbar p{
    font-size: 17px;
}
footer svg{
  height: 20px;
}
i.icon.ion-social-nodejs {
    color: #52bf90;
}
/*about*/
section#about ul>li{
list-style-type: none;
}
/*projects*/
section#projects .row{
  margin-bottom: 5%;
}
/*services*/
blockquote{
  font-size: 25px!important;
  margin-top: 5%!important;
margin-bottom: 5%!important;
  margin: 0;
}
section#services i {
    font-size: 90px;
    color: #52bf90;
}
/*skills*/
 .bg-aqua{
      background-color: #242424;
      height: 100px;
      width: 100%;
      border:2px solid #52bf90 ;
 }
 .progress {
background: none;
}
 .boxes{
margin-bottom:5%;
}
 .tagcloud01 {
    width: 80%;
}
img.skillsSvg {
    width: 95px;
}
/*contact*/
form {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 100px;
}
form .form-control{
  height: 50px;
  font-size: 20px;
  background-color: #242424;
  border: none;
}
form input[type="textbox"]{
height: 200px;
background-color: #242424;
border: none;
}
button[type="submit"]{
  border: 2px solid white;
  background: transparent;
  color: white;
}
button[type="submit"]:hover{
  border: 2px solid #52bf90;
  background: transparent;
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
}
/*modal*/
.modal-content{
  background-color:rgba(82,191,144,0.9);
}
.modal-content p{
  color: #efefef;
}
.modal-content button{
  border: 2px solid #419873;
  background: #242424;
  color: white;
}
/*blockquote*/
blockquote{
  background: #242424;
}
/*svg iphone*/
.phoneBlock{

}
svg {
    height: 100%;
    width: 30%;
    margin-left: 59%;
    margin-top: 4%;
}
path.st0 {
    fill: none!important;
  }
/*Website pre loader*/
div#preLoader {
    background: rgba(0,0,0,0.8);
position: fixed;
    z-index: 9999;
    height: 100%;
    width: 100%;
}
.loader {
  /*border: 16px solid #f3f3f3;*/
  border-radius: 50%;
  border-top: 16px solid #52bf90;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-left: 45%;
  margin-top: 20%;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


#frameScale { width: 300px; height: 250px; padding: 0; position:relative;  top:0px; overflow: hidden; }
    #frame { width: 300px; height: 250px; position:relative;  top:0px; }





/*==================================================
=           Basic Media Queries             =
==================================================*/


    /*==========  Non-Mobile First  ==========*/

    /* very Devices, Wide Screens */
    @media only screen and (max-width : 1440px) {
      body .container-fluid {
         margin-left: 5%;
     }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
      body .container-fluid {
         margin-left: 5%;
     }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
      body .container-fluid {
         margin-left: 12%;
     }

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
      body .container-fluid {
         margin-left: 15%;
     }
   
       svg{
        display: none;
      }
      section#contact input#inputPassword3 {
          margin-bottom: 10px;
      }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {

      body .container-fluid {
         margin-left: 15%;
      }

    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {

    }
